*{
    padding: 0;
    margin: 0;
}



body{
    background-image: url(../img/bg1.jpg);
    background-size: cover;
    color: white;
}

.login{
    text-align: center;
}
#input{
    border-radius: 20px;
    padding: 2vh;
    margin: 1vh;
}

button{
    border-radius: 20px;
}


.coontainer > thead > tr > th{
     font-size: 100px;
     font-weight: bold;
}